@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #FFFFFF;
  --background: #FFFFFF;
  --paragraph: #03045E;
  --footer-bg: #0077B6;
  --footer-text: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #FFFFFF;
    --background: #FFFFFF;
    --paragraph: #03045E;
  }
}

body {
  font-family: 'Itim-Regular', sans-serif;
}

@layer utilities {
  .container {
    @apply px-4 mx-auto;
    max-width: 100%;
  }
  
  @screen sm {
    .container {
      max-width: 640px;
    }
  }
  
  @screen md {
    .container {
      max-width: 768px;
    }
  }
  
  @screen lg {
    .container {
      max-width: 1024px;
    }
  }
  
  @screen xl {
    .container {
      max-width: 1280px;
    }
  }
  
  .bg-footer {
    background-color: var(--footer-bg);
  }
  
  .text-footer {
    color: var(--footer-text);
  }

  .bg-navbar {
    background-color: var(--footer-bg);
  }
  
  .text-navbar {
    color: var(--footer-text);
  }

  .bg-header {
    background-color: var(--footer-bg);
  }
  
  .text-header {
    color: var(--footer-text);
  }
}